*
!*.*
!*/
.DS_Store
.\#*
\#*\#
*~
.emacs.deskto*
.*.swp
*.class
.cache
__pycache__
.org-id-locations

;;workspaces
.vscode
.emacs.d/workspace/

;;repos
elpa/
eclipse.jdt.ls/

;;;;c/c++
*.o
*.out
!Makefile*
!makefile*
~          